@import url(//db.onlinewebfonts.com/c/766132c828a90cbecf6f7f4027d12725?family=IRAN+Sans);

.first_bg {
  width: 100%;
  height: 100vh;
  background-image: url("../img/fr.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.second_bg {
  width: 100%;
  height: 100vh;
  background-image: url("../img/sabz.svg");

  background-repeat: no-repeat;
}
.container {
    display: flex;
    height: 100%;
    align-items: center;
    
  }
  
  .container > div {
    width: 50%;
    text-align: center;
    
  }
  .btn{
      width: 200px;
      
  }
  .m{
      margin: 10px auto;
  }
  .b{
    color: black;
  }